body {
  background-color: #e6e7ef;
  font-family: 'Open Sans', sans-serif;
}

.app {
  text-align: center;
}

.main-container {
  display: inline-block;
  background-color: white;
  height: 70vh;
  width: 75vw;
  margin: 0px auto;
  margin-top: 50px;
}